.sidebar {
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    top: 0;
    min-width: 18vw;
    height: 100vh;
    transform: translate(-210%);
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px #212A34;
    z-index: 3;
    transition: 500ms;
}

.sidebar.open {
    transform: translate(0);
}

.background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(33, 42, 52, 0.55);
    z-index: 2;


}

.nav {
    padding: 30px 30px;

}

.nav a {
    margin-bottom: 50px;
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: #212A34;

}

.nav a:hover {
    border-bottom: 2px solid #0066cc;

}

.nav a.active {
    color: #0066cc;

}



.close {
    margin: 10px;
}

.close img {
}
