.tech {
}

.developer {
    margin-right: 15vw;
}

.techHeader {
    display: flex;

}

.developerHeader {
    display: flex;
    margin-right: 15vw;



}

.row {
    padding: 15px;
    justify-content: space-between;
    display: flex;
    max-width: 50vw;
    border-bottom: 1px solid #e5e5e5;

}

.rowHeader {
    margin-top: 30px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #e5e5e5;
    font-weight: bold;
    max-width: 50vw;
}

.loading {

}