.item {
}

.item:last-of-type {
}

.users {
    width: 500px;
    border-collapse: collapse;
}

.buttonsContainer {
    margin-bottom: 20px;
}

.container {
}

.thead {
    background-color: #e5e5e5;
    font-weight: bold;

}

.nameCol {
    padding: .5em .5em;

}

.ageCol {

}
tbody {

}

td {
    border-bottom: 1px solid #e5e5e5;
}